{% extends "base.html" %}
{% load static %}

{% block content %}



<ul id="snippetList" class="row">
    {% for snippet in snippets %}

    <li class="colum mb-4 card">
        <a class="codeTitle" href="{% url 'snippet_detail' snippet.pk %}">{{snippet.title}}</a>
        <pre><code class="language-{{snippet.languages}}">{{snippet.code}}</code></pre>
        <p class="codeLang"> <strong>{{snippet.languages}}</strong></p>
        <p class="cadeText">Last updated: {{snippet.updated_at}}</p>
    </li>


    {% endfor %}
</ul>



{% endblock %}