body{
  background-color: #60728A;
}

li {
    padding-right: 25px;
}

#snippetList {
  list-style-type: none;
  text-align: center;
  padding: 15px;
  margin: auto;
}


.colum{
    width: 33%;
    background-color: rgb(11, 34, 77);
    margin-right: 3px;
    border-radius: 10px;
}
.detail{
  margin: 25px;
}

#snippet_box{
  padding: 10%;
}

.codeTitle{
    padding-left: 20px;
    font-size: 35px;
    color: rgb(199, 15, 116);
}

.codeText{
    color: white;
}

.codeLang{
    color: rgb(115, 207, 62);
    

}
#snippetCopy{
  color: rgb(194, 119, 137);
}

#snippet_create{
  padding: 10%;
}
.codeForm{
    color: white;
    margin-left: 30%;
    margin-top: 25px;
    
}
.btn {
  margin-left: 7%;
}
 

@media screen and (max-width: 992px) {
  .colum {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .colum {
    width: 100%;
  }
}