li {
    padding-right: 25px;
}

#snippetList {
  list-style-type: none;
  text-align: center;
  padding: 15px;
  margin: auto;
}


.colum{
    width: 33%;
    background-color: rgb(36, 48, 104);
    margin-right: 3px;
    border-radius: 10px;
}

.codeTitle{
    padding-left: 20px;
    font-size: 35px;
    color: rgb(199, 15, 116);
}

.cadeText{
    color: white;
}

.codeLang{
    color: rgb(115, 207, 62);
    

}
.codeForm{
    color: white;
    width: 600px;
    margin: 0 auto;
    background-color: rgb(36, 48, 104);
}
@media screen and (max-width: 992px) {
  .colum {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .colum {
    width: 100%;
  }
}